<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  	<title>Bill Splitter</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="/public/style.css">
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<div class="container-fluid">
	
	<!-- Header -->
	<nav class="navbar navbar-expand-sm navbar-dark">
		<a class="navbar-brand" href="/">Bill Splitter</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/create">Create</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/edit">Edit</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/split">Split</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="help">Help</a>
			</li>
		</ul>
	</nav>
	<!------------------------------------------------------------------------->

	<div class="title">
		<h1>Bill Splitter</h1>
		<h2>------- some sub-header -------</h2>
	</div>

	<footer class="page-footer">
		<h5>
			Designed by Rodrigo Conde <a href="https://github.com/conderodrigo98"><i class="fab fa-github"></i></a>
		</h5>
	</footer>

</div>

</html>